name: Dependabot auto-merge

on:
  workflow_call:

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  dependabot:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' }}
    env:
      PR_URL: ${{github.event.pull_request.html_url}}
      GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      -
        name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b # v2.4.0
      -
        name: Auto-approve all dependabot PRs
        run: gh pr review --approve "$PR_URL"
      -
        name: Auto-merge dependabot PRs for development dependencies
        if: ${{ contains(steps.metadata.outputs.dependency-group, 'development-dependencies') }}
        run: gh pr merge --auto --rebase "$PR_URL"
      -
        name: Auto-merge dependabot PRs for go-openapi patches
        if: ${{ contains(steps.metadata.outputs.dependency-group, 'go-openapi-dependencies') && (steps.metadata.outputs.update-type == 'version-update:semver-minor' || steps.metadata.outputs.update-type == 'version-update:semver-patch') }}
        run: gh pr merge --auto --rebase "$PR_URL"
      -
        name: Auto-merge dependabot PRs for golang.org updates
        if: ${{ contains(steps.metadata.outputs.dependency-group, 'golang-org-dependencies') }}
        run: gh pr merge --auto --rebase "$PR_URL"

  actions-bot:
    # description: |
    #   Auto merge for go-openapi bot.
    #   The regular actions-bot user cannot approve and merge its own pull requests,
    #   We use another bot user to update content to be approved/auto-merged by actions-bot.
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.user.login == 'bot-go-openapi[bot]' }}
    env:
      PR_URL: ${{github.event.pull_request.html_url}}
      GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      -
        name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      -
        name: Auto-approve all bot-go-openapi PRs
        run: gh pr review --approve "$PR_URL"
      -
        name: Wait for all workflow runs to complete
        uses: go-openapi/gh-actions/ci-jobs/wait-pending-jobs@09fdf6112081c9d6bea91b551b771a1b6bcf8d98 # v1.1.0
        with:
          pr-url: ${{ env.PR_URL }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Auto-merge bot-go-openapi PRs
        run: gh pr merge --auto --rebase "$PR_URL"
