name: Collect coverage

permissions:
  pull-requests: read
  contents: read

on:
  workflow_call:

jobs:
  collect-coverage:
    # description: |
    #   Gather, merge then uploads test coverage files from all test jobs (this includes integration tests,
    #   like codegen-test). This reduces the number of failures due to codecov hitting github API rate limit.
    name: collect test coverage
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      -
        name: Download coverage artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          run-id: "${{ github.run_id }}"
          pattern: "*.coverage.*"
          # artifacts resolve as folders
          path: coverage/
      -
        name: Upload coverage to codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          name: Aggregated coverage
          # All *.coverage.*.out files uploaded should be detected by the codecov action.
          # NOTE: we lose the flags on individual test reports (e.g. by os, by go version, unit vs integration tests)
          fail_ci_if_error: false
          verbose: false
