name: Collect coverage

permissions:
  pull-requests: read
  contents: read

on:
  workflow_call:

jobs:
  collect-coverage:
    # description: |
    #   Gather, merge then uploads test coverage files from all test jobs (this includes integration tests,
    #   like codegen-test). This reduces the number of failures due to codecov hitting github API rate limit.
    name: collect test coverage
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      -
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: stable
          check-latest: true
          cache: true
      -
        name: Download coverage artifacts
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          run-id: "${{ github.run_id }}"
          pattern: "*.coverage.*"
          # artifacts resolve as folders
          path: coverage/
      -
        name: Reprocess coverage paths
        # on projects with a v2 suffix, the go import path reported by coverage doesn't match
        # well the actual path. codecov knows about that for the root module, but is unable
        # to find its way with versioned go sub-modules.
        # We rewrite paths in coverage paths to match actual repo folders.
        run: |
          go list -m -f '{"name":{{ printf "%q" .Path }},"path":{{ printf "%q" .Dir }}}'|\
          jq -r '[.name,.path] | @tsv' |\
          while IFS=$'\t' read -r name path ; do
            target="github.com/${GITHUB_REPOSITORY}/${path#${GITHUB_WORKSPACE}/}"
            sed -i "s|${name}|${target}|" $(find coverage -type f -name \*.coverage.\*.out)
          done
      -
        name: Upload coverage to codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          name: Aggregated coverage
          # All *.coverage.*.out files uploaded should be detected by the codecov action.
          # NOTE: we lose the flags on individual test reports (e.g. by os, by go version, unit vs integration tests)
          fail_ci_if_error: false
          verbose: false
