name: Contributors

on:
  workflow_call:

permissions:
  contents: read

jobs:
  update-contributors:
    name: all-time contributors
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    outputs:
      pull-request-url: ${{ steps.create-pull-request.outputs.pull-request-url }}
    steps:
      -
        name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      -
        name: Identify all-time contributors to this repository
        uses: github/contributors@e345de71bbd056a34a70709afd4f4bf0a270cc1a # v1.7.7
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY:  ${{ github.repository }}
          LINK_TO_PROFILE: 'True'
      -
        name: Rename contributor file
        run: |
          rm -rf contributors.json
          mv contributors.md CONTRIBUTORS.md
      -
        name: Switch to go-openapi bot user
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.CI_BOT_APP_ID }}
          private-key: ${{ secrets.CI_BOT_APP_PRIVATE_KEY }}
      -
        name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.CI_BOT_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.CI_BOT_GPG_PASSPHRASE }}
          fingerprint: ${{ secrets.CI_BOT_SIGNING_KEY }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_tag_gpgsign: true
      -
        name: Create a PR
        id: create-pull-request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: "doc: updated contributors file"
          branch: doc/contributors-bot
          delete-branch: true
          title: "doc: updated contributors file"
          token: ${{ steps.app-token.outputs.token }}
          labels: "bot"
          draft: false
          assignees: fredbi
          reviewers: fredbi
          sign-commits: true
          signoff: true # DCO

  auto-merge:
    # description: |
    #   Validates and merge the pull request triggered above.
    needs: [update-contributors]
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    env:
      PR_URL: ${{needs.update-contributors.outputs.pull-request-url}}
      GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      -
        name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      -
        name: Auto-approve PR
        run: gh pr review --approve "$PR_URL"
      -
        name: Wait for all workflow runs to complete
        uses: go-openapi/gh-actions/ci-jobs/wait-pending-jobs@09fdf6112081c9d6bea91b551b771a1b6bcf8d98 # v1.1.0
        with:
          pr-url: ${{ env.PR_URL }}
          gh-token: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Auto-merge PR
        run: gh pr merge --auto --rebase "$PR_URL"
