name: go test [monorepo]

permissions:
  contents: read
  pull-requests: read

on:
  workflow_call:

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    outputs:
      is-monorepo: ${{ steps.detect-monorepo.outputs.is-monorepo }}
      bash-paths: ${{ steps.detect-monorepo.outputs.bash-paths }}
      bash-subpaths: ${{ steps.detect-monorepo.outputs.bash-subpaths }}
      module-names: ${{ steps.detect-monorepo.outputs.names }}
    steps:
      -
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      -
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: stable
          check-latest: true
          cache: true
          cache-dependency-path: '**/go.sum'
      -
        name: Detect go mono-repo
        id: detect-monorepo
        uses: go-openapi/gh-actions/ci-jobs/detect-go-monorepo@0ec18ca1ddc1e2257097ae8d57952733109d80a1 # v1.4.0
      -
        name: golangci-lint [monorepo]
        # golangci-action v9.1+ has an experimental built-in mono repo detection setup.
        if: ${{ steps.detect-monorepo.outputs.is-monorepo == 'true' }}
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          skip-cache: true
          experimental: "automatic-module-directories"
      -
        name: golangci-lint
        if: ${{ steps.detect-monorepo.outputs.is-monorepo != 'true' }}
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          only-new-issues: true
          skip-cache: true

      # Carry out the linting the traditional way, within a shell loop
      #-
      #  name: Lint multiple modules
      #  if: ${{ steps.detect-monorepo.outputs.is-monorepo == 'true' }}
      #  # golangci-lint doesn't support go.work to lint multiple modules in one single pass
      #  run: |
      #    set -euxo pipefail
      #    git fetch origin master
      #    git show --no-patch --oneline origin/master
      #    while read -r module_location ; do
      #      pushd "${module_location}"
      #      golangci-lint run --new-from-rev origin/master
      #      popd
      #    done < <(echo ${{ steps.detect-monorepo.outputs.bash-paths }})

  test:
    name: Unit tests mono-repo
    needs: [ lint ]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        go: ['oldstable', 'stable' ]
    steps:
      -
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      -
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        id: go-setup
        with:
          go-version: '${{ matrix.go }}'
          check-latest: true
          cache: true
          cache-dependency-path: '**/go.sum'
      -
        name: Detect go version capabilities
        id: detect-go-version
        uses: go-openapi/gh-actions/ci-jobs/detect-go-version@0ec18ca1ddc1e2257097ae8d57952733109d80a1 # v1.4.0
      -
        name: Install gotestsum
        uses: go-openapi/gh-actions/install/gotestsum@0ec18ca1ddc1e2257097ae8d57952733109d80a1 # v1.4.0
      -
        name: Run unit tests on all modules (go1.25+ with go.work) [monorepo]
        if: ${{ needs.lint.outputs.is-monorepo == 'true' && steps.detect-go-version.outputs.is-gotestwork-supported == 'true' }}
        # with go.work file enabled, go test recognizes sub-modules and collects all packages to be covered
        # without specifying -coverpkg.
        #
        # This requires:
        # * go.work properly initialized with use of all known modules
        # * go.work committed to git
        run: >
          gotestsum
          --jsonfile 'unit.report.${{ matrix.os }}-${{ matrix.go }}.json'
          --
          work
          -race
          -p 2
          -count 1
          -timeout=20m
          -coverprofile='unit.coverage.${{ matrix.os }}-${{ matrix.go }}.out'
          -covermode=atomic
          ./...
      - 
        name: Run unit tests on all modules (<go1.25 or no go.work) [monorepo]
        if: >
          ${{
              needs.lint.outputs.is-monorepo == 'true' && steps.detect-go-version.outputs.is-gotestwork-supported != 'true'
          }}
        run: |
          declare -a ALL_MODULES
          ALL_MODULES=(${{ needs.lint.outputs.bash-subpaths }}) # a bash array with all module folders, suffixed with "/..."
          echo "::notice title=Modules found::${ALL_MODULES[@]}"

          gotestsum \
            --jsonfile 'unit.report.${{ matrix.os }}-${{ matrix.go }}.json' \
            -- \
            -race \
            -p 2 \
            -count 1 \
            -timeout=20m \
            -coverprofile='unit.coverage.${{ matrix.os }}-${{ matrix.go }}.out' \
            -covermode=atomic \
            ${ALL_MODULES[@]}
      -
        name: Run unit tests
        if: ${{ needs.lint.outputs.is-monorepo != 'true' }}
        run: >
          gotestsum
          --jsonfile 'unit.report.${{ matrix.os }}-${{ matrix.go }}.json'
          --
          -race
          -p 2
          -count 1
          -timeout=20m
          -coverprofile='unit.coverage.${{ matrix.os }}-${{ matrix.go }}.out'
          -covermode=atomic
          -coverpkg="$(go list)"/...
          ./...
      -
        name: Upload coverage artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          # *.coverage.* pattern is automatically detected by codecov
          path: '**/*.coverage.*.out'
          name: 'unit.coverage.${{ matrix.os }}-${{ matrix.go }}'
          retention-days: 1
      -
        name: Upload test report artifacts
        # upload report even if tests fail. BTW, this is when they are valuable.
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: '**/unit.report.*.json'
          name: 'unit.report.${{ matrix.os }}-${{ matrix.go }}'
          retention-days: 1

  fuzz-test:
    # fuzz-test supports go monorepos
    uses: ./.github/workflows/fuzz-test.yml

  test-complete:
    # description: |
    #   Be explicit about all tests being passed. This allows for setting up only a few status checks on PRs.
    name: tests completed
    needs: [test,fuzz-test]
    runs-on: ubuntu-latest
    steps:
      -
        name: Tests completed
        run: |
          echo "::notice title=Success::All tests passed"

  collect-coverage:
    needs: [test-complete]
    if: ${{ !cancelled() && needs.test-complete.result == 'success' }}
    uses: ./.github/workflows/collect-coverage.yml

  collect-reports:
    needs: [test]
    if: ${{ !cancelled() }}
    uses: ./.github/workflows/collect-reports.yml
