name: Bump Release [Test only]

permissions:
  contents: read

# description: |
#   Manual action to bump the current version and cut a release.
#
#   Determine which version to bump.
#   Push corresponding tag, with comment.
#   Build a github release on pushed tag.

on:
  workflow_dispatch:
    inputs:
      bump-type:
        description: Type of bump (patch, minor, major)
        type: choice
        options:
        - patch
        - minor
        - major
        default: patch
      tag-message-title:
        description: Tag message title to prepend to the release notes
        required: false
        type: string
      tag-message-body:
        description: |
          Tag message body to prepend to the release notes.
          (use "|" to replace end of line).
        required: false
        type: string

jobs:
  bump-release:
    permissions:
      contents: write
    uses: ./.github/workflows/bump-release.yml
    with:
      bump-type: ${{ inputs.bump-type }}
      tag-message-title: ${{ inputs.tag-message-title }}
      tag-message-body: ${{ inputs.tag-message-body }}
    secrets: inherit
