name: go test [mono-repo, Test only]

permissions:
  contents: read
  pull-requests: read

on:
  push:
    tags:
      - v*
    branches:
      - master

  pull_request:

jobs:
  go-monorepo-test:
    uses: ./.github/workflows/go-test-monorepo.yml
    secrets: inherit
