name: go test
# description: This workflow mimics how a go-openapi repo would typically invoke the common workflow.

on:
  push:
    branches:
      - master

  pull_request:

permissions:
  pull-requests: read
  contents: read

jobs:
  test:
    uses: ./.github/workflows/go-test.yml
    secrets: inherit
