name: Markdown changed

on:
  workflow_call:

permissions:
  contents: read

jobs:
  markdown-changed:
    # description: |
    # This triggers a markdown and spellcheck lint whenever documentation files change.
    runs-on: ubuntu-latest
    outputs:
      proceed: ${{ steps.changed-markdown-files.outputs.any_changed }}
      all_changed_files: ${{ steps.changed-markdown-files.outputs.all_changed_files }}
    steps:
    -
      name: Originating repo checkout (e.g. public fork)
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    -
      name: Get changed markdown files
      uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v4.7.0
      id: changed-markdown-files
      with:
        files: '**/*.md'
    -
      name: Notify
      run: |
        echo "::notice::Detected some changed markdown files"
        echo "${{ steps.changed-markdown-files.outputs.all_changed_files }}"
