name: Markdown changed

on:
  workflow_call:

permissions:
  contents: read

jobs:
  markdown-changed:
    # description: |
    # This triggers a markdown and spellcheck lint whenever documentation files change.
    runs-on: ubuntu-latest
    outputs:
      proceed: ${{ steps.changed-markdown-files.outputs.any_changed }}
      all_changed_files: ${{ steps.changed-markdown-files.outputs.all_changed_files }}
    steps:
    -
      name: Originating repo checkout (e.g. public fork)
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    -
      name: Get changed markdown files
      uses: tj-actions/changed-files@8cba46e29c11878d930bca7870bb54394d3e8b21 # v4.7.0
      id: changed-markdown-files
      with:
        files: '**/*.md'
    -
      name: Notify
      run: |
        echo "::notice::Detected some changed markdown files"
        echo "${{ steps.changed-markdown-files.outputs.all_changed_files }}"
